In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
from sklearn.model_selection import cross_val_score, cross_validate, KFold, LeaveOneOut, GridSearchCV

from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder

In [6]:
url = 'https://raw.githubusercontent.com/NastjaK666/uni/master/african_crises.csv'
data = pd.read_csv(url)
data.dtypes

case                                 int64
cc3                                 object
country                             object
year                                 int64
systemic_crisis                      int64
exch_usd                           float64
domestic_debt_in_default             int64
sovereign_external_debt_default      int64
gdp_weighted_default               float64
inflation_annual_cpi               float64
independence                         int64
currency_crises                      int64
inflation_crises                     int64
banking_crisis                      object
dtype: object

In [3]:
data.isnull().sum()

case                               0
cc3                                0
country                            0
year                               0
systemic_crisis                    0
exch_usd                           0
domestic_debt_in_default           0
sovereign_external_debt_default    0
gdp_weighted_default               0
inflation_annual_cpi               0
independence                       0
currency_crises                    0
inflation_crises                   0
banking_crisis                     0
dtype: int64

In [7]:
ClassCoded = data[['cc3']]  #needs to be float data type
LaEnc = LabelEncoder()
data[['cc3']] = pd.DataFrame(LaEnc.fit_transform(ClassCoded), columns=[['cc3']])
data.head()

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   case  cc3  country  ...  currency_crises  inflation_crises  banking_crisis
0     1    3  Algeria  ...                0                 0          crisis
1     1    3  Algeria  ...                0                 0       no_crisis
2     1    3  Algeria  ...                0                 0       no_crisis
3     1    3  Algeria  ...                0                 0       no_crisis
4     1    3  Algeria  ...                0                 0       no_crisis

[5 rows x 14 columns]

In [8]:
ClassCoded = data[['country']]  #needs to be float data type
LaEnc = LabelEncoder()
data[['country']] = pd.DataFrame(LaEnc.fit_transform(ClassCoded), columns=[['country']])
data.head()

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   case  cc3  country  ...  currency_crises  inflation_crises  banking_crisis
0     1    3        0  ...                0                 0          crisis
1     1    3        0  ...                0                 0       no_crisis
2     1    3        0  ...                0                 0       no_crisis
3     1    3        0  ...                0                 0       no_crisis
4     1    3        0  ...                0                 0       no_crisis

[5 rows x 14 columns]

In [9]:
ClassCoded = data[['banking_crisis']]  #needs to be float data type
LaEnc = LabelEncoder()
data[['banking_crisis']] = pd.DataFrame(LaEnc.fit_transform(ClassCoded), columns=[['banking_crisis']])
data.head()

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   case  cc3  country  ...  currency_crises  inflation_crises  banking_crisis
0     1    3        0  ...                0                 0               0
1     1    3        0  ...                0                 0               1
2     1    3        0  ...                0                 0               1
3     1    3        0  ...                0                 0               1
4     1    3        0  ...                0                 0               1

[5 rows x 14 columns]

In [10]:
Positive = data[data['banking_crisis'] == 1]['banking_crisis'].count()
Negative = data.shape[0] - Positive
print('Распределение классов:')
print('    Положительные: {} % ({})'.format(round(Positive/data.shape[0]*100, 4),Positive)) #crisis present
print('    Отрицательные: {} % ({})'.format(round(Negative/data.shape[0]*100, 4), Negative))

Распределение классов:
    Положительные: 91.1237 % (965)
    Отрицательные: 8.8763 % (94)

In [0]:
TrainX,TestX,TrainY,TestY = train_test_split(data[['case','cc3','country','year','systemic_crisis','exch_usd','domestic_debt_in_default',
                                                   'sovereign_external_debt_default','gdp_weighted_default', 'inflation_annual_cpi',
                                                   'independence','currency_crises','inflation_crises']],data['banking_crisis'], test_size=0.3, random_state = 1)

In [0]:
LogReg = LogisticRegression(C=10, solver='liblinear')
SVCT = SVC(gamma = 10)
DecTree = DecisionTreeClassifier(max_depth = 4)

In [14]:
LogReg.fit(TrainX, TrainY)
SVCT.fit(TrainX, TrainY)
DecTree.fit(TrainX, TrainY)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [15]:
Result = []
Result.append(LogReg.predict(TestX))
Result.append(SVCT.predict(TestX))
Result.append(DecTree.predict(TestX))
for res in Result:
    print(accuracy_score(TestY,res))

0.9779874213836478
0.9025157232704403
0.9811320754716981

In [16]:
for res in Result:
    print(confusion_matrix(TestY,res), '\n')

[[ 27   4]
 [  3 284]]

[[  0  31]
 [  0 287]]

[[ 27   4]
 [  2 285]]

In [17]:
for res in Result:
    print(classification_report(TestY,res), '\n')

              precision    recall  f1-score   support

           0       0.90      0.87      0.89        31
           1       0.99      0.99      0.99       287

    accuracy                           0.98       318
   macro avg       0.94      0.93      0.94       318
weighted avg       0.98      0.98      0.98       318


              precision    recall  f1-score   support

           0       0.00      0.00      0.00        31
           1       0.90      1.00      0.95       287

    accuracy                           0.90       318
   macro avg       0.45      0.50      0.47       318
weighted avg       0.81      0.90      0.86       318


              precision    recall  f1-score   support

           0       0.93      0.87      0.90        31
           1       0.99      0.99      0.99       287

    accuracy                           0.98       318
   macro avg       0.96      0.93      0.94       318
weighted avg       0.98      0.98      0.98       318

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [0]:
#??  correct below cells
CTP = [0.001,0.01,0.1,1,10,100,1000]
GammaTP = [0.001,0.01,0.1,1,10,100,1000]
DepthTP = [1,2,3,4,5,6,7,8,9,10]
tuned_parameters = [{'C':CTP}]
LogRegGS = GridSearchCV(LogisticRegression(solver='liblinear'), tuned_parameters, cv=LeaveOneOut(), scoring='accuracy')
LogRegGS.fit(data[['case','cc3','country','year','systemic_crisis','exch_usd','domestic_debt_in_default',
                                                   'sovereign_external_debt_default','gdp_weighted_default', 'inflation_annual_cpi',
                                                   'independence','currency_crises','inflation_crises']],data['banking_crisis'])
LogRegCBP = LogRegGS.best_params_.get('C')

tuned_parameters = [{'gamma':GammaTP}]
SVCGS = GridSearchCV(SVC(), tuned_parameters, cv=LeaveOneOut(), scoring='accuracy')
SVCGS.fit(data[['case','cc3','country','year','systemic_crisis','exch_usd','domestic_debt_in_default',
                                                   'sovereign_external_debt_default','gdp_weighted_default', 'inflation_annual_cpi',
                                                   'independence','currency_crises','inflation_crises']],data['banking_crisis'])
SVCGammaBP = SVCGS.best_params_.get('gamma')

tuned_parameters = [{'max_depth':DepthTP}]
DecTreeGS = GridSearchCV(DecisionTreeClassifier(), tuned_parameters, cv=LeaveOneOut(), scoring='accuracy')
DecTreeGS.fit(data[['case','cc3','country','year','systemic_crisis','exch_usd','domestic_debt_in_default',
                                                   'sovereign_external_debt_default','gdp_weighted_default', 'inflation_annual_cpi',
                                                   'independence','currency_crises','inflation_crises']],data['banking_crisis'])
DecTreeDepthBP = DecTreeGS.best_params_.get('max_depth')

In [19]:
print('Подобранные гиперпараметры:')
print('    Логистическая регрессия: параметр С: ',LogRegCBP)
print('    Метод Опорных Векторов: параметр gamma: ',SVCGammaBP)
print('    Дерево решений: параметр глубина: ',DecTreeDepthBP)

Подобранные гиперпараметры:
    Логистическая регрессия: параметр С:  10
    Метод Опорных Векторов: параметр gamma:  0.001
    Дерево решений: параметр глубина:  4

In [0]:
LogReg = LogisticRegression(C=LogRegCBP, solver='liblinear')
SVCT = SVC(gamma = SVCGammaBP)
DecTree = DecisionTreeClassifier(max_depth = DecTreeDepthBP)

In [21]:
LogReg.fit(TrainX, TrainY)
SVCT.fit(TrainX, TrainY)
DecTree.fit(TrainX, TrainY)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [22]:
Result = []
Result.append(LogReg.predict(TestX))
Result.append(SVCT.predict(TestX))
Result.append(DecTree.predict(TestX))
for res in Result:
    print(accuracy_score(TestY,res))

0.9779874213836478
0.9088050314465409
0.9811320754716981

In [23]:
for res in Result:
    print(confusion_matrix(TestY,res), '\n')

[[ 27   4]
 [  3 284]]

[[  3  28]
 [  1 286]]

[[ 27   4]
 [  2 285]]

In [24]:
for res in Result:
    print(classification_report(TestY,res), '\n')

              precision    recall  f1-score   support

           0       0.90      0.87      0.89        31
           1       0.99      0.99      0.99       287

    accuracy                           0.98       318
   macro avg       0.94      0.93      0.94       318
weighted avg       0.98      0.98      0.98       318


              precision    recall  f1-score   support

           0       0.75      0.10      0.17        31
           1       0.91      1.00      0.95       287

    accuracy                           0.91       318
   macro avg       0.83      0.55      0.56       318
weighted avg       0.90      0.91      0.88       318


              precision    recall  f1-score   support

           0       0.93      0.87      0.90        31
           1       0.99      0.99      0.99       287

    accuracy                           0.98       318
   macro avg       0.96      0.93      0.94       318
weighted avg       0.98      0.98      0.98       318